---
layout: page
title: Work with us
custom_css: cobalt
custom_font: font4
header_style: "one"
white_menu: true
header_image: "/assets/images/art/bg5.jpg"

contact_info:
  enable: true
  title: "Get Information"
  contact_data:
    - icon: "/assets/images/icons/ui-gps.png"
      info: "Via Pasubio, 5<br> c/o POINT<br>v24044 Dalmine, BG Italia"

    - icon: "/assets/images/icons/co-email-5.png"
      info:
        - "info@dvisionlab.com"
contact_form:
  enable: true

  lists:
    - title: Address
      info_01: Via Pasubio, 5 c/o POINT<br>24044 Dalmine, BG Italia
      icon: "icofont-location-pin"

    - title: E-mail
      info_01: "info@dvisionlab.com"
      icon: "icofont-mail-box"

google_maps:
  enable: true

in_brief:
  title: In brief
  description:
    - D/Vision Lab s.r.l. is growing and we have an open position, to get more
      solid in developing visualization software.
    - We are looking for a mid-level <b>full-stack developer</b> to join the team
      and work with our clients to develop projects with web-based technologies.
      The candidate will be involved in the technical decisions on projects they will
      be assigned and shall carry out the development, testing and documenting process.
    - We are a small company that aims to produce high-quality results with very good
      working conditions, but since we work with different partners and clients on different
      projects and domains, we are looking for people who are flexible, proactive and able to
      work in a team as well as independently.
    - The position is for full-time jobs, fully remote in Italy; we offer a pleasant and
      dignified working environment, a fair compensation and 20% of R&D time.

about_careers:
  title: Intro to D/Vision Lab
  description:
    - D/Vision Lab s.r.l. (DV) is a young start-up born in northern Italy
      in late 2019, with the objective of developing visualization software using
      modern technologies and processes. Currently, DV is operating in
      different areas and is developing custom software for different clients
      and domains, like medical, healthcare, scientific and services.
      For example, we develop visualization and processing software for
      medical images (DICOM) and GUIs for managing and visualizing data
      (soft real-time as well as offline processing).
    - Even if in these few years we built long-term partnerships with
      other companies, DV does not develops a single product, but works on
      <b>different projects</b> that require various skills of different types,
      generating a dynamic and fluid environment where innovation
      and technology can meet.
    - Since birth DV grew constantly in terms of sales, people, partners
      and satisfied customers. Therefore, to react even better to the market's
      needs and to allow an even better and <i>happier</i> growth of its members,
      D/Vision Lab is looking for new people to join the team.
    - >
      The team comprises 7 people: 4 software engineers, 2 biomedical
      engineers, 1 management engineer. 5 out of 7 are full-time employees,
      2 are long-term independent contractors. On average we are about 35
      years old. 85% of them self-identifies as Windows user and 57% as
      Linux users - diversity is welcome.
    - Hence we are looking for motivated people, even with different
      seniority levels, to <b>join our team long-term</b> for the following positions.

open_position_1:
  title: Full-stack Developer
  text:
    We are looking for a person that wants to grow and specialize in <b>full-stack
    development</b> and productionalization.
    The candidate will have to coordinate with team members and report periodically
    on the advancement status as well as discuss with clients about specifications
    and technical details.
    For this role, we are looking for candidates with at least <b>2 years of experience</b>
    using the following technologies and tools.
    JavaScript for frontend development, NodeJS for backend development, experience
    with relational and non-relational databases (e.g. PostgreSQL, MongoDB),
    development and documentation of RESTful APIand code versioning with git.

    Given the nature of the role, there are a number of <b>"nice to have" skills</b> and
    experiences that are very welcome such as good relational and organizational skills,
    experience with at least one among Vue, React and Angular frameworks, experience with
    TypeScript, experience with Deno or Node and frameworks like Nest.js or similar, experience
    with Swagger/OpenAPI, experience with Mongoose (JS) and experience with Electron or similar
    technologies.

    There are no mandatory qualifications for this role, but a degree in Computer Science or
    related fields is appreciated.

call_to_action: Convinced yet? Let's make something great together.

extras:
  title: Details
  description:
    - >
      The open position is full remote, as long as residency in Italy.
      Office presence from time to time is appreciated, mainly for
      sociality and team-building, but it's not and hard requirement.
    - >
      Knowledge of both Italian and English is necessary: employees might be required
      to interact with clients, partners, users or participate in conferences
      in Italy or other countries; the vast part of the documentation we read,
      share and write is written in English, while most of our communication
      is in Italian. Language skills will be evaluated during the interview
      and, if necessary, we can provide ad hoc training courses.
    - >
      The Gross Annual Salary for the open position is in the range 25'000-40'000
      euros; the final salary offer will depend on the seniority, level
      and skills of the candidate as determined during the interview.
      Employees have at their disposal a yearly budget to follow courses,
      attend relevant technical or scientific conferences, in addition to
      an one-time budget to buy working tools (e.g. for a bigger screen,
      chair, desk). Economic growth is also guaranteed, according to
      objectives discussed during the interview.
    - >
      Individual growth is important and we encourage it, this is why we
      support Research and Development activities for all the members
      of the team: people are encouraged to invest 20% of their time in
      R&D, typically including activities such as learning new skills,
      languages, tools and practices that are relevant for the company,
      as well as disseminating the knowledge to other members or developing
      projects that are relevant to the future of the company, such as POCs,
      prototypes, tools of general interest or improvements to tools,
      libraries and software that we currently use.
    - >
      Candidates are offered flexibility of working hours, within reasonable
      limits to be able to functionally work in team: meetings and pairing
      sessions will generally be scheduled during common working hours
      (9-18), but involved parties might agree and pick other times
      if needed. We give freedom when it comes to working tools, besides
      the ones that we use to cooperate (e.g. github, jira, mattermost,
      G-suite) or the one needed for specific projects.
    - >
      Our current office, for people interested in going there, is provided
      by the POINT (Polo di Innovazione Tecnologica, that is Technological
      Innovation Center) incubator, in Dalmine (Bergamo, Italy): we have
      a few desks for people working there (possibly with screens), a small
      fridge, a coffee machine, an electric kettle, a table football and
      a number of areas and services provided by the POINT incubator itself.
    - >
      As any company, DV is a meeting point between people sharing some ideas;
      therefore, we believe
  list:
    - that people desires, ambitions and objectives shall be kept into consideration and
      fostered whenever possible and in line with company objectives (that can be always
      discussed);
    - that management has an active role in putting people in the proper working conditions;
    - that decisions shall be discussed and taken in the interest of all involved people and
      not just "coming from above";
    - that people shall be listened to, valued and shall find themselves in an environment
      safe for self-expression;
    - that working place shall be a psychologically safe place, free from biases and
      prejudices related to age, sex, ethnicity and physical appearance;
    - that the human and personal dimensions shall not be overlooked;
    - that is good to have a scientific approach to problem solving;
    - that company results depend by is members and components, for this reason we want to
      create the conditions for long-term relations in which people can feel satisfied and
      can grow personally and technically;
    - that a continuous improvement of the environment and working tools can exist, therefore
      we want to measure and contribute actively to that improvement;
    - that software is better when Open Source, therefore we commit, as much as possible
      according to contracts and business models, to contribute to FLOSS community and release
      our code to the public;
    - that beer is pretty tasty, especially when consumed responsibly and together :)

process:
  title: How to Apply
  steps:
    - Send us your latest Curriculum Vitae (2-4 pages are fine) at info@dvisionlab.com,
      possibly with a few words in which you talk about yourself and your
      motivations and what are you looking for.
    - We will read it and let you know as soon as possible, typically within a few days.
    - Depending on CV screening, we might invite you for a few additional interviews
      about you, your skills and the role you are applying for - and answer your
      questions and fill your curiosities.
    - If we like each other, we will go full throttle and try to onboard you as
      soon as possible, but the process might last a few weeks.
    - We will update this page as vacant positions get filled.
---

<div class="wrapper light-wrapper">
  <div class="container inner">
    <h2 class="section-title mb-40 text-center">{{page.in_brief.title}}</h2>
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <ul>
          {% for desc in page.in_brief.description %}
          <li>{{desc}}</li>
          {% endfor %}
        </ul>
      </div>
      <!-- /column -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</div>

<div class="wrapper gray-wrapper">
  <div class="container inner">
    <h2 class="section-title mb-40 text-center">
      {{page.about_careers.title}}
    </h2>
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        {% for desc in page.about_careers.description %}
        <p style="text-align: justify">{{desc}}</p>
        {% endfor %}
      </div>
      <!-- /column -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</div>

<div class="wrapper light-wrapper">
  <div class="container inner">
    <div class="row">
      <div class="col-lg-10 offset-lg-1">
        <h2 class="section-title mb-40 text-center">Open Positions</h2>
        <div id="accordion-2" class="accordion-wrapper">
          <div class="card shadow">
            <div class="card-header" id="accordion-heading-2-1">
              <h5>
                <button
                  data-toggle="collapse"
                  data-target="#accordion-collapse-2-1"
                  aria-expanded="true"
                  aria-controls="accordion-collapse-2-1"
                >
                  {{page.open_position_1.title}}
                </button>
              </h5>
            </div>
            <!-- /.card-header -->
            <div
              id="accordion-collapse-2-1"
              class="collapse show"
              aria-labelledby="accordion-heading-2-1"
              data-parent="#accordion-2"
            >
              <div class="card-body">
                <p style="text-align: justify">{{page.open_position_1.text}}</p>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.collapse -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.accordion-wrapper -->
        <div
          class="box shadow p-60 image-wrapper bg-full bg-image inverse-text rounded d-md-flex align-items-md-center justify-content-md-between"
          data-image-src="{{relative_url}}/assets/images/art/bg5.jpg"
        >
          <h3 class="display-3 mb-0">{{page.call_to_action}}</h3>
          <div class="space30 d-md-none"></div>
          <a
            href="mailto:info@dvisionlab.com"
            class="btn btn-white btn-strong-hover mb-0"
            >Contact Us</a
          >
        </div>
      </div>
      <!-- /column -->
    </div>

    <!-- /.row -->
  </div>

  <!-- /.container -->
</div>

<div class="wrapper gray-wrapper">
  <div class="container inner">
    <h2 class="section-title mb-40 text-center">{{page.extras.title}}</h2>
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        {% for desc in page.extras.description %}
        <p style="text-align: justify">{{desc}}</p>
        {% endfor %}
      </div>
      <!-- /column -->
    </div>
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <ul>
          {% for desc in page.extras.list %}
          <li>{{desc}}</li>
          {% endfor %}
        </ul>
      </div>
      <!-- /column -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</div>
<!-- /.wrapper -->

<div class="wrapper light-wrapper">
  <div class="container inner">
    <h2 class="section-title mb-40 text-center">{{page.process.title}}</h2>
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <ul>
          {% for desc in page.process.steps %}
          <li>{{desc}}</li>
          {% endfor %}
        </ul>
      </div>
      <!-- /column -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</div>
