---
layout: default
title: DICOM Vision
custom_css: leaf
custom_font: font4

general:
  enable: true
  title: "The Smart Cloud Platform for Medical Imaging"
  text: " DICOM Vision is a comprehensive and cutting-edge tool 
  for managing medical images that combines the ease of use of a 
  zero-footprint viewer with advanced features like 3D visualization, 
  artificial intelligence, and remote collaboration. It is a valuable 
  tool for healthcare professionals who rely on diagnostic images to 
  provide high-quality patient care."

zero_footprint:
  enable: true
  image: "/assets/images/home/viewer_2d.gif"
  title: "Zero-Footprint Viewer"
  text: "This means that no additional software or plugins need 
  to be installed on the user's device. The viewer can be accessed 
  through a web browser, making access to medical images extremely 
  convenient and flexible."

dicom_storage:
  enable: true
  image: "/assets/images/home/mpr-fast.gif"
  title: "DICOM Storage and Display"
  text: "DICOM Vision is designed to handle medical images 
  in the DICOM format, which is a widely used standard in the 
  field of medical imaging. It can store and display a wide range
  of diagnostic images, including X-rays, CT scans, MRIs, ultrasounds, 
  and more."
 
views:
  enable: true
  image: "/assets/images/home/3d.png"
  title: "2D and 3D Views"
  text: "The viewer supports not only 2D image views but also advanced 
  3D views. This is particularly useful for creating three-dimensional 
  models from imaging data, allowing for a better understanding of anatomical
  structures."

remote_collaboration:
  enable: true
  image: "/assets/images/home/collaborative.png"
  title: "Remote Collaboration"
  text: "One of the key features of DICOM Vision is its ability to support
  remote collaboration. Healthcare professionals can easily share images 
  with colleagues or specialists around the world, enabling quicker and 
  more convenient consultation and second opinions."

artificial_intelligence:
  enable: true
  image: "/assets/images/home/ai.png"
  title: "Artificial Intelligence"
  text: "The viewer can integrate artificial intelligence (AI) features for 
  automatic image analysis. This may include anomaly detection, anatomical 
  structure segmentation, and other advanced AI applications for image interpretation."
 
measurement_tools:
  enable: true
  image: "/assets/images/home/measurements.png"
  title: "Measurement Tools"
  text: "DICOM Vision offers a range of measurement tools that allow users to make 
  precise measurements directly on images. This is essential for diagnostic and 
  patient monitoring purposes."

pacs:
  enable: true
  image: "/assets/images/home/pacs.gif"
  title: "PACS Integration"
  text: "DICOM Vision supports PACS storage and communication, making it a seamless 
  solution for healthcare facilities that rely on PACS systems to manage and distribute 
  medical images efficiently. This ensures easy integration with existing infrastructure 
  and simplifies the sharing and retrieval of patient data within healthcare networks."


  

---

{% include header.html container_class="container" extra_class="absolute
transparent inverse-text nav-uppercase" light_logo="true" %}

<div class="wrapper bg-dark inverse-text">
  <div class="rev_slider_wrapper fullwidth-container dark-spinner">
    <div
      id="slider6"
      class="rev_slider fullwidthbanner light-gallery-wrapper"
      data-version="5.4.7"
    >
      <ul>
        <li data-transition="fade" data-thumb="">
          <img
            src="/assets/images/dummy.png"
            style="background: transparent"
            alt="hero"
          />

          <div
            class="tp-caption font-weight-600 inverse-text"
            data-x="['left','left','center','center']"
            data-y="middle"
            data-hoffset="['50','30','0','0']"
            data-voffset="['-80','-80','-260','-190']"
            data-fontsize="['40','40','34','32']"
            data-lineheight="['50','50','44','42']"
            data-width="['350','350','650','340']"
            data-textAlign="['left','left','center','center']"
            data-whitespace="['normal','normal','normal','normal']"
            data-frames='[{"delay":1500,"speed":1200,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
            data-responsive="on"
            data-responsive_offset="on"
            style="z-index: 9"
          >
            DICOM Vision
          </div>
          <!-- /.tp-caption -->

          <div
            class="tp-caption font-weight-400 inverse-text"
            data-x="['left','left','center','center']"
            data-y="middle"
            data-hoffset="['50','30','0','0']"
            data-voffset="['30','30','-200','-90']"
            data-fontsize="['26','26','22','20']"
            data-lineheight="['36','36','32','30']"
            data-width="['350','350','650','340']"
            data-textAlign="['left','left','center','center']"
            data-whitespace="['normal','normal','normal','normal']"
            data-frames='[{"delay":2000,"speed":1200,"frame":"0","from":"x:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
            data-responsive="on"
            data-responsive_offset="on"
            style="z-index: 9"
          >
            The Smart Cloud Platform for Medical Imaging
          </div>
          <!-- /.tp-caption -->

          <a
            class="tp-caption btn btn-l btn-leaf"
            data-x="['left','left','center','center']"
            data-y="middle"
            data-hoffset="['50','30','0','0']"
            data-voffset="['125','125','-130','0']"
            data-width="['auto','auto','auto','auto']"
            data-textAlign="['left','left','center','center']"
            data-frames='[{"delay":2500,"speed":1200,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
            data-responsive="on"
            data-responsive_offset="on"
            style="z-index: 9"
            href="https://app.dicom.vision/"
            target="_blank"
          >
            <span class="btn-play btn-play-s"></span
            ><span class="h6 pl-10 font-weight-600">See the demo</span>
          </a>
          <!-- /.tp-caption -->

          <div
            class="tp-caption"
            data-x="['right','right','center','center']"
            data-y="middle"
            data-hoffset="['60','30','0','0']"
            data-voffset="['30','30','160','205']"
            data-frames='[{"delay":500,"speed":1200,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
            data-visibility="['on','on','on','on']"
            data-width="none"
            data-height="none"
            data-type="image"
            data-responsive_offset="on"
            style="z-index: 5"
          >
            <img
              data-lazyload=""
              src="/assets/images/logo-dicom-black-trim.png"
              alt=""
            />
          </div>
          <!-- /.tp-caption -->
        </li>
      </ul>
      <div class="tp-bannertimer tp-bottom"></div>
    </div>
    <!-- /.rev_slider -->
  </div>
  <!-- /.rev_slider_wrapper -->
</div>
<!-- /.wrapper -->

<!-- Descrizione generale-->
<div class="wrapper dark-wrapper inverse-text">
  <div class="container inner">
    <div class="row">
      <div class="col-md-7 mx-auto">
        <h3 class="display-3 text-center">Revolutionizing Healtcare</h3>
        <div class="space40"></div>
      </div>
    </div>
    <!-- GENERAL -->
    <div class="row align-items-center">
      <!--/column -->
      <div class="space40 d-lg-none"></div>
      <div class="col-lg-12 pl-60 pl-md-15">
        <div class="space20"></div>
        <p style="text-align: justify">{{page.general.text}}</p>
      </div>
      <!--/column -->
    </div>
    <!--/.row -->
  </div>
</div>

<div class="wrapper bg-default inverse-text">
  <div class="container inner">
    <!-- ZERO FOOTPRINT -->
    <div class="row align-items-center">
      {% if page.zero_footprint.image %}
      <div class="col-lg-6 order-lg-2" data-aos="fade-up" data-aos-delay="200">
        <figure>
          <img
            src="{{page.zero_footprint.image}}"
            alt="{{page.zero_footprint.title}}"
          />
        </figure>
      </div>
      {% endif %}
      <!--/column -->
      <div class="space40 d-lg-none"></div>
      <div
        class="col-lg-6 pr-60 pr-md-15"
        data-aos="fade-up"
        data-aos-delay="300"
      >
        <h3 class="display-3">{{page.zero_footprint.title}}</h3>
        <div class="space20"></div>
        <p style="text-align: justify">{{page.zero_footprint.text}}</p>
      </div>
      <!--/column -->
    </div>
    <!--/.row -->
  </div>
</div>

<div class="wrapper dark-wrapper inverse-text">
  <div class="container inner">
    <!-- DICOM STORAGE -->
    <div class="row align-items-center">
      {% if page.dicom_storage.image %}
      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="300">
        <figure>
          <img
            src="{{page.dicom_storage.image}}"
            alt="{{page.dicom_storage.title}}"
          />
        </figure>
      </div>
      {% endif %}
      <!--/column -->
      <div class="space40 d-lg-none"></div>
      <div
        class="col-lg-6 pl-60 pl-md-15"
        data-aos="fade-up"
        data-aos-delay="300"
      >
        <h3 class="display-3">{{page.dicom_storage.title}}</h3>
        <div class="space20"></div>
        <p style="text-align: justify">{{page.dicom_storage.text}}</p>
      </div>
      <!--/column -->
    </div>
    <!--/.row -->
  </div>
</div>

<div class="wrapper bg-default inverse-text">
  <div class="container inner">
    <!-- 2D 3D VIEWS -->
    <div class="row align-items-center">
      {% if page.views.image %}
      <div class="col-lg-6 order-lg-2" data-aos="fade-up" data-aos-delay="300">
        <figure>
          <img src="{{page.views.image}}" alt="{{page.views.title}}" />
        </figure>
      </div>
      {% endif %}
      <!--/column -->
      <div class="space40 d-lg-none"></div>
      <div
        class="col-lg-6 pr-60 pr-md-15"
        data-aos="fade-up"
        data-aos-delay="300"
      >
        <h3 class="display-3">{{page.views.title}}</h3>
        <div class="space20"></div>
        <p style="text-align: justify">{{page.views.text}}</p>
      </div>
      <!--/column -->
    </div>
    <!--/.row -->
  </div>
</div>

<div class="wrapper dark-wrapper inverse-text">
  <div class="container inner">
    <!-- REMOTE COLLABORATION -->
    <div class="row align-items-center">
      {% if page.remote_collaboration.image %}
      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
        <figure>
          <img
            src="{{page.remote_collaboration.image}}"
            alt="{{page.remote_collaboration.title}}"
          />
        </figure>
      </div>
      {% endif %}
      <!--/column -->
      <div class="space40 d-lg-none"></div>
      <div
        class="col-lg-6 pl-60 pl-md-15"
        data-aos="fade-up"
        data-aos-delay="200"
      >
        <h3 class="display-3">{{page.remote_collaboration.title}}</h3>
        <div class="space20"></div>
        <p style="text-align: justify">{{page.remote_collaboration.text}}</p>
      </div>
      <!--/column -->
    </div>
    <!--/.row -->
  </div>
</div>

<div class="wrapper bg-default inverse-text">
  <div class="container inner">
    <!-- ARTIFICIAL INTELLIGENCE -->
    <div class="row align-items-center">
      {% if page.artificial_intelligence.image %}
      <div class="col-lg-6 order-lg-2" data-aos="fade-up" data-aos-delay="200">
        <figure>
          <img
            src="{{page.artificial_intelligence.image}}"
            alt="{{page.artificial_intelligence.title}}"
          />
        </figure>
      </div>
      {% endif %}
      <!--/column -->
      <div class="space40 d-lg-none"></div>
      <div
        class="col-lg-6 pr-60 pr-md-15"
        data-aos="fade-up"
        data-aos-delay="200"
      >
        <h3 class="display-3">{{page.artificial_intelligence.title}}</h3>
        <div class="space20"></div>
        <p style="text-align: justify">{{page.artificial_intelligence.text}}</p>
      </div>
      <!--/column -->
    </div>
    <!--/.row -->
  </div>
</div>

<div class="wrapper dark-wrapper inverse-text">
  <div class="container inner">
    <!-- MEASUREMENT TOOLS -->
    <div class="row align-items-center">
      {% if page.measurement_tools.image %}
      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
        <figure>
          <img
            src="{{page.measurement_tools.image}}"
            alt="{{page.measurement_tools.title}}"
          />
        </figure>
      </div>
      {% endif %}
      <!--/column -->
      <div class="space40 d-lg-none"></div>
      <div
        class="col-lg-6 pl-60 pl-md-15"
        data-aos="fade-up"
        data-aos-delay="200"
      >
        <h3 class="display-3">{{page.measurement_tools.title}}</h3>
        <div class="space20"></div>
        <p style="text-align: justify">{{page.measurement_tools.text}}</p>
      </div>
      <!--/column -->
    </div>
    <!--/.row -->
  </div>
</div>

<div class="wrapper bg-default inverse-text">
  <div class="container inner">
    <!-- PACS INTEGRATION -->
    <div class="row align-items-center">
      {% if page.pacs.image %}
      <div class="col-lg-6 order-lg-2" data-aos="fade-up" data-aos-delay="200">
        <figure>
          <img src="{{page.pacs.image}}" alt="{{page.pacs.title}}" />
        </figure>
      </div>
      {% endif %}
      <!--/column -->
      <div class="space40 d-lg-none"></div>
      <div
        class="col-lg-6 pr-60 pr-md-15"
        data-aos="fade-up"
        data-aos-delay="200"
      >
        <h3 class="display-3">{{page.pacs.title}}</h3>
        <div class="space20"></div>
        <p style="text-align: justify">{{page.pacs.text}}</p>
      </div>
      <!--/column -->
    </div>
    <!--/.row -->
  </div>
</div>

<!-- Application Fields -->
<div class="wrapper dark-wrapper inverse-text">
  <div class="container inner" data-aos="fade-up" data-aos-delay="200">
    <h2 class="section-title mb-40 text-center">Application Fields</h2>
    <p class="mb-60">
      DICOM Vision's zero-footprint viewer, AI capabilities, 3D visualization,
      and secure access to medical images enhance the quality of patient care,
      research, teaching, and diagnostic accuracy. Its flexibility and
      adaptability make it a valuable asset for professionals in various
      healthcare-related fields.
    </p>
    <div class="row gutter-50">
      <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="200">
        <div class="d-flex flex-row justify-content-center">
          <div>
            <div class="icon icon-blob icon-blob-rose color-rose mr-25">
              <i class="icofont-radio-active"></i>
            </div>
          </div>
          <div>
            <h5>Radiology</h5>
            <p>
              DICOM Vision is well-suited for radiology practices, allowing
              radiologists to view and analyze medical images such as X-rays, CT
              scans, and MRIs with ease. Its advanced features, like 3D
              visualization and AI integration, enhance diagnostic capabilities.
            </p>
          </div>
        </div>
      </div>
      <!--/column -->
      <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="200">
        <div class="d-flex flex-row justify-content-center">
          <div>
            <div class="icon icon-blob icon-blob-blue color-blue mr-25">
              <i class="icofont-heart-alt"></i>
            </div>
          </div>
          <div>
            <h5>Surgical Planning</h5>
            <p>
              Surgeons can use DICOM Vision to plan surgeries more effectively
              by visualizing patient-specific anatomical structures and
              pathology in 2D and 3D. This aids in preoperative assessment and
              strategizing.
            </p>
          </div>
        </div>
      </div>
      <!--/column -->
      <div class="space30 d-none d-md-block d-lg-none"></div>
      <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="200">
        <div class="d-flex flex-row justify-content-center">
          <div>
            <div class="icon icon-blob icon-blob-green color-green mr-25">
              <i class="icofont-brain-alt"></i>
            </div>
          </div>
          <div>
            <h5>Research</h5>
            <p>
              Medical researchers can utilize DICOM Vision to access and analyze
              large sets of medical imaging data. The AI capabilities assist in
              automating certain tasks, while 3D visualization can help in
              understanding complex anatomical relationships.
            </p>
          </div>
        </div>
      </div>
      <!--/column -->
      <div class="space30 d-none d-lg-block"></div>
      <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="200">
        <div class="d-flex flex-row justify-content-center">
          <div>
            <div class="icon icon-blob icon-blob-purple color-purple mr-25">
              <i class="icofont-university"></i>
            </div>
          </div>
          <div>
            <h5>Education</h5>
            <p>
              In medical education, DICOM Vision is a valuable tool for teaching
              anatomy and diagnostic skills. It allows educators to demonstrate
              real clinical cases to students, fostering a better understanding
              of medical imaging.
            </p>
          </div>
        </div>
      </div>
      <!--/column -->
      <div class="space30 d-none d-md-block d-lg-none"></div>
      <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="200">
        <div class="d-flex flex-row justify-content-center">
          <div>
            <div class="icon icon-blob icon-blob-orange color-orange mr-25">
              <i class="icofont-doctor-alt"></i>
            </div>
          </div>
          <div>
            <h5>Veterinary</h5>
            <p>
              The application of DICOM Vision extends to veterinary medicine.
              Veterinarians can use the viewer for diagnosing and planning
              treatment for animals, particularly for conditions that require
              imaging, like fractures and internal diseases.
            </p>
          </div>
        </div>
      </div>
      <!--/column -->
      <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="200">
        <div class="d-flex flex-row justify-content-center">
          <div>
            <div class="icon icon-blob icon-blob-violet color-violet mr-25">
              <i class="icofont-cloudapp"></i>
            </div>
          </div>
          <div>
            <h5>Telemedicine</h5>
            <p>
              DICOM Vision's remote collaboration features are particularly
              beneficial in telemedicine. Healthcare providers can share and
              discuss medical images with colleagues and specialists across
              distances, making telemedicine consultations more effective.
            </p>
          </div>
        </div>
      </div>
      <!--/column -->
    </div>
    <!--/.row -->
  </div>
  <!-- /.container -->
</div>
<!-- End i nostri settori wrapper -->

<!-- Clients and Partners -->
<div class="wrapper light-wrapper">
  <div class="container inner">
    <h2 class="section-title mb-40 text-center">Our Clients and Partners</h2>
    <div
      class="carousel owl-carousel clients"
      data-margin="30"
      data-loop="true"
      data-dots="false"
      data-autoplay="true"
      data-autoplay-timeout="1500"
      data-responsive='{"0":{"items": "2"}, "768":{"items": "4"}, "992":{"items": "5"}, "1140":{"items": "6"}}'
    >
      <div class="item pl-15 pr-15">
        <a href="http://www.dvisionlab.com" target="_blank">
          <img
            src="{{relative_url}}/assets/images/clients/dv.png"
            alt="D/Vision Lab"
          />
        </a>
      </div>
      <div class="item pl-15 pr-15">
        <a href="http://www.gmmspa.com" target="_blank">
          <img
            src="{{relative_url}}/assets/images/clients/gmm.png"
            alt="GMM Group"
          />
        </a>
      </div>
      <div class="item pl-15 pr-15">
        <a href="https://www.gaslini.org" target="_blank">
          <img
            src="{{relative_url}}/assets/images/clients/gaslini.jpg"
            alt="Ospedale Gaslini"
          />
        </a>
      </div>
      <div class="item pl-15 pr-15">
        <a href="https://www.marionegri.it" target="_blank">
          <img
            src="{{relative_url}}/assets/images/clients/mni.png"
            alt="Mario Negri Institute"
          />
        </a>
      </div>
      <div class="item pl-15 pr-15">
        <a href="https://www.software-medico.it" target="_blank">
          <img
            src="{{relative_url}}/assets/images/clients/arzamed.png"
            alt="Arzamed"
          />
        </a>
      </div>
      <div class="item pl-15 pr-15">
        <a href="https://www.unibg.it" target="_blank">
          <img
            src="{{relative_url}}/assets/images/clients/unibg.png"
            alt="UniBG"
          />
        </a>
      </div>
      <div class="item pl-15 pr-15">
        <a href="https://www.bergamosviluppo.it/" target="_blank">
          <img
            src="{{relative_url}}/assets/images/clients/bg_sviluppo.png"
            alt="Bergamo Sviluppo"
          />
        </a>
      </div>
    </div>
    <!-- /.owl-carousel -->
  </div>
  <!-- /.container -->
</div>
<!-- End Clients and Partners -->

{% include footer.html %}
