---
layout: default
custom_css: meander
custom_font: plus-jakarta-sans
image: "/assets/images/logo-dicom-black-trim-text.png"

hero_tagline:
  enabled: true
  ignore_reduced_motion: true
  timing:
    hold_ms: 4200
    fade_ms: 280
  behavior:
    mode: "paired"

zero_footprint:
  image: "/assets/images/home/viewer_2d.gif"
dicom_storage:
  image: "/assets/images/home/mpr-fast.mp4"
views:
  image: "/assets/images/home/3d.webp"
remote_collaboration:
  image: "/assets/images/home/collaborative.png"
artificial_intelligence:
  image: "/assets/images/home/ai.webp"
measurement_tools:
  image: "/assets/images/home/measurements.webp"
pacs:
  image: "/assets/images/home/pacs.gif"
---

{% assign t = site.data.i18n[site.lang] %}

{% include header.html container_class="container" extra_class="absolute transparent inverse-text nav-uppercase" light_logo="true" %}

<div class="hero-area">
  <div
    class="wrapper image-wrapper bg-image page-title-wrapper inverse-text"
    data-image-src="/assets/images/home/viewer_2d.gif"
  >
    <div class="container inner text-center">
      <div class="row">
        <div class="col-md-7 mx-auto">
          <div class="space140"></div>

          <div class="logo-container logo-with-mark">
            <img src="/assets/images/logo-dicom-black-trim-text.png" alt="dicom vision logo" class="logo">
          </div>

            {% if page.hero_tagline.enabled %}
            <div class="hero-pen-block" data-ignore-reduced-motion="{{ page.hero_tagline.ignore_reduced_motion | default: false }}">
              <h1 class="hero-pen-heading">
                {{ t.home.hero_tagline.static_prefix }}
                <span class="pen-change" data-words='{{ t.home.hero_tagline.rotate_a | jsonify }}'>
                  <span class="old">{{ t.home.hero_tagline.rotate_a[0] }}</span>
                </span>
                <span class="pen-change" data-words='{{ t.home.hero_tagline.rotate_b | jsonify }}'>
                  <span class="old">{{ t.home.hero_tagline.rotate_b[0] }}</span>
                </span>
                <span class="pen-line">
                  {{ t.home.hero_tagline.static_infix }}
                  <span class="pen-change" data-words='{{ t.home.hero_tagline.rotate_c | jsonify }}'>
                    <span class="old">{{ t.home.hero_tagline.rotate_c[0] }}</span>
                  </span>
                </span>
              </h1>
            </div>
            {% else %}
            <h1 class="display-1">{{ t.home.hero_fallback }}</h1>
            {% endif %}

          <div class="space20"></div>
          <a
            href="https://app.dicom.vision"
            target="_blank"
            class="btn btn-l btn-green scroll"
            >{{ t.home.launch_app }}</a
          >
          <a
            href="https://rapid-credit-55b6.daniele-ciriello.workers.dev"
            target="_blank"
            class="btn btn-l btn-white btn-demo-outline"
            >{{ t.home.view_demo }}</a
          >
        </div>
      </div>
    </div>
    <!-- /.container -->
    <div class="divider divider-bottom">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="fill-gray-wrapper"
        preserveAspectRatio="none"
        viewBox="0 0 1070 20.98"
      >
        <path d="M0,0V21H1070V0A6830.24,6830.24,0,0,1,0,0Z" />
      </svg>
    </div>
  </div>
</div>

<!-- /.wrapper -->
<div class="wrapper gray-wrapper" id="about">
  <div class="container pt-40 pb-40">
    <h2 class="section-title mb-40 text-center">
      {{ t.home.about_title }}
    </h2>
    <div class="row">
      <div class="col-lg-8 offset-lg-2 text-center">
        <p>{{ t.home.about_text }}</p>
        <div class="certification-strip">
          <div class="certification-text">
            <strong>{{ t.home.cert_iso }}</strong> – {{ t.home.cert_text }}
            <a
              class="certification-link"
              href="{{ '/assets/certifications/1118.2025%20(2).pdf' | relative_url }}"
              target="_blank"
              rel="noopener"
              >{{ t.home.cert_link }}</a
            >
          </div>
          <a
            class="certification-badge"
            href="{{ '/assets/certifications/1118.2025%20(2).pdf' | relative_url }}"
            target="_blank"
            rel="noopener"
          >
            <img
              src="{{ '/assets/certifications/27001_SG_SSI_sg05-xs.jpg' | relative_url }}"
              alt="{{ t.home.cert_iso }} – {{ t.home.cert_text }}"
              loading="lazy"
            />
          </a>
        </div>
      </div>
      <!-- /column -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</div>
<!-- /.wrapper -->
<!-- Application Fields -->
<div class="wrapper dark-wrapper inverse-text">
  <div class="container pt-40 pb-40" data-aos="fade-up" data-aos-delay="200">
    <h2 class="section-title mb-40 text-center">{{ t.home.app_fields_title }}</h2>
    <p class="mb-60">{{ t.home.app_fields_intro }}</p>
    <div class="row gutter-50">
      <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="200">
        <div class="d-flex flex-row justify-content-center">
          <div>
            <div class="icon icon-blob icon-blob-rose color-rose mr-25">
              <i class="icofont-radio-active"></i>
            </div>
          </div>
          <div>
            <h5>{{ t.home.radiology.title }}</h5>
            <p>{{ t.home.radiology.text }}</p>
          </div>
        </div>
      </div>
      <!--/column -->
      <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="200">
        <div class="d-flex flex-row justify-content-center">
          <div>
            <div class="icon icon-blob icon-blob-blue color-blue mr-25">
              <i class="icofont-heart-alt"></i>
            </div>
          </div>
          <div>
            <h5>{{ t.home.surgical.title }}</h5>
            <p>{{ t.home.surgical.text }}</p>
          </div>
        </div>
      </div>
      <!--/column -->
      <div class="space30 d-none d-md-block d-lg-none"></div>
      <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="200">
        <div class="d-flex flex-row justify-content-center">
          <div>
            <div class="icon icon-blob icon-blob-green color-green mr-25">
              <i class="icofont-brain-alt"></i>
            </div>
          </div>
          <div>
            <h5>{{ t.home.research.title }}</h5>
            <p>{{ t.home.research.text }}</p>
          </div>
        </div>
      </div>
      <!--/column -->
      <div class="space30 d-none d-lg-block"></div>
      <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="200">
        <div class="d-flex flex-row justify-content-center">
          <div>
            <div class="icon icon-blob icon-blob-purple color-purple mr-25">
              <i class="icofont-university"></i>
            </div>
          </div>
          <div>
            <h5>{{ t.home.education.title }}</h5>
            <p>{{ t.home.education.text }}</p>
          </div>
        </div>
      </div>
      <!--/column -->
      <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="200">
        <div class="d-flex flex-row justify-content-center">
          <div>
            <div class="icon icon-blob icon-blob-violet color-violet mr-25">
              <i class="icofont-cloudapp"></i>
            </div>
          </div>
          <div>
            <h5>{{ t.home.telemedicine.title }}</h5>
            <p>{{ t.home.telemedicine.text }}</p>
          </div>
        </div>
      </div>
      <!--/column -->
      <div class="space30 d-none d-md-block d-lg-none"></div>
      <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="200">
        <div class="d-flex flex-row justify-content-center">
          <div>
            <div class="icon icon-blob icon-blob-orange color-orange mr-25">
              <i class="icofont-doctor-alt"></i>
            </div>
          </div>
          <div>
            <h5>{{ t.home.veterinary.title }}</h5>
            <p>{{ t.home.veterinary.text }}</p>
          </div>
        </div>
      </div>
      <!--/column -->
    </div>
    <!--/.row -->
  </div>
</div>

<div class="wrapper bg-default" id="technology">
  <div class="container pt-40 pb-40" data-aos="fade-up" data-aos-delay="200">
    <div class="two-column-one">
      <div class="row align-items-center">
        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="300">
          <figure>
            <video autoplay loop muted playsinline loading="lazy">
              <source src="/assets/images/home/mpr-fast.mp4" type="video/mp4" />
              <img src="/assets/images/home/mpr-fast.gif" alt="MPR" loading="lazy" />
            </video>
          </figure>
        </div>

        <div class="space40 d-lg-none"></div>
        <div class="col-lg-6 ps-60 ps-md-15">
          <div data-aos="fade-up" data-aos-delay="800">
            <h4>{{ t.home.zero_footprint.title }}</h4>
            <p>{{ t.home.zero_footprint.text }}</p>
          </div>

          <div data-aos="fade-up" data-aos-delay="800">
            <h4>{{ t.home.dicom_storage.title }}</h4>
            <p>{{ t.home.dicom_storage.text }}</p>
          </div>

          <div data-aos="fade-up" data-aos-delay="800">
            <h4>{{ t.home.pacs.title }}</h4>
            <p>{{ t.home.pacs.text }}</p>
          </div>
        </div>
      </div>
      <!--/.row -->
    </div>
  </div>
</div>
<div class="wrapper dark-wrapper inverse-text">
  <div class="container pt-40 pb-40" data-aos="fade-up" data-aos-delay="200">
    <div class="two-column-two">
      <div class="row align-items-center">
        <div
          class="col-lg-6 order-lg-2"
          data-aos="fade-up"
          data-aos-delay="300"
        >
          <div class="video-embed">
            <iframe
              src="https://www.youtube.com/embed/P27vuZ7T7pY?autoplay=1&mute=1&controls=0&modestbranding=1&rel=0&playsinline=1&loop=1&playlist=P27vuZ7T7pY"
              title="DICOM Vision - Remote Collaboration"
              frameborder="0"
              allow="autoplay; encrypted-media; picture-in-picture"
              allowfullscreen
              loading="lazy"
            ></iframe>
          </div>
        </div>

        <div class="space40 d-lg-none"></div>
        <div class="col-lg-6 pe-60 pe-md-15">
          <div data-aos="fade-up" data-aos-delay="800">
            <h4>{{ t.home.remote_collaboration.title }}</h4>
            <p>{{ t.home.remote_collaboration.text }}</p>
          </div>
          <div class="space30"></div>

          <div data-aos="fade-up" data-aos-delay="800">
            <h4>{{ t.home.artificial_intelligence.title }}</h4>
            <p>{{ t.home.artificial_intelligence.text }}</p>
          </div>
          <div class="space30"></div>
        </div>
        <!--/column -->
      </div>
      <!--/.row -->
    </div>
  </div>
</div>

<div class="wrapper bg-default">
  <div class="container pt-40 pb-40" data-aos="fade-up" data-aos-delay="200">
    <div class="two-column-three">
      <div class="row align-items-center">
        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="300">
          <figure>
            <picture>
              <source srcset="/assets/images/home/3d.webp" type="image/webp" />
              <img src="/assets/images/home/3d.png" alt="3D Visualization" loading="lazy" />
            </picture>
          </figure>
        </div>

        <div class="space40 d-lg-none"></div>
        <div class="col-lg-6 ps-60 ps-md-15">
          <div data-aos="fade-up" data-aos-delay="800">
            <h4>{{ t.home.views.title }}</h4>
            <p>{{ t.home.views.text }}</p>
          </div>

          <div data-aos="fade-up" data-aos-delay="800">
            <h4>{{ t.home.measurement_tools.title }}</h4>
            <p>{{ t.home.measurement_tools.text }}</p>
          </div>
        </div>
      </div>
      <!--/.row -->
    </div>
  </div>
  <!-- /.container -->
</div>
<!-- End i nostri settori wrapper -->

<!-- Clinical Partners -->
<div class="wrapper light-wrapper" id="clinical-partners">
  <div class="container inner inner-tight-bottom inner-no-bottom">
    <h2 class="section-title larger mb-40 text-center">{{ t.home.clinical_partners }}</h2>
    <div
      class="carousel owl-carousel clients"
      data-margin="30"
      data-loop="true"
      data-dots="false"
      data-autoplay="true"
      data-autoplay-timeout="1500"
      data-responsive='{"0":{"items": "2"}, "768":{"items": "4"}, "992":{"items": "5"}, "1140":{"items": "6"}}'
    >
      <div class="item ps-15 pe-15">
        <img
          src="{{relative_url}}/assets/images/clients/gaslini.jpg"
          alt="Ospedale Gaslini"
          loading="lazy"
        />
      </div>

      <div class="item ps-15 pe-15">
        <img
          src="{{relative_url}}/assets/images/clients/mni.png"
          alt="Mario Negri Institute"
          loading="lazy"
        />
      </div>

      <div class="item ps-15 pe-15">
        <img
          src="{{relative_url}}/assets/images/clients/arzamed.png"
          alt="Arzamed"
          loading="lazy"
        />
      </div>
      <div class="item ps-15 pe-15">
        <img
          src="{{relative_url}}/assets/images/clients/76-fondazione.jpg"
          alt="Fondazione IRCCS Istituto Nazionale dei Tumori."
          loading="lazy"
        />
      </div>
      <div class="item ps-15 pe-15">
        <img
          src="{{relative_url}}/assets/images/clients/ismett_logo_svg_20231102.svg"
          alt="ISMETT (Istituto Mediterraneo per i Trapianti e Terapie ad Alta Specializzazione, Palermo)"
          loading="lazy"
        />
      </div>
      <div class="item ps-15 pe-15">
        <img
          src="{{relative_url}}/assets/images/clients/OVUlogo.jpg"
          alt="Ospedale Veterinario Universitario di Lodi"
          loading="lazy"
        />
      </div>
      <div class="item ps-15 pe-15">
        <img
          src="{{relative_url}}/assets/images/clients/sandonato.jpg"
          alt="Gruppo Ospedaliero San Donato"
          loading="lazy"
        />
      </div>
    </div>
  </div>
</div>
<!-- End Clinical Partners -->
 <!-- Strategic & Institutional Partners -->
<div class="wrapper light-wrapper">
  <div class="container inner inner-no-top">
    <h2 class="section-title larger mb-40 text-center">
      {{ t.home.strategic_partners }}
    </h2>
    <div
      class="carousel owl-carousel clients"
      data-margin="30"
      data-loop="true"
      data-dots="false"
      data-autoplay="true"
      data-autoplay-timeout="1500"
      data-responsive='{"0":{"items": "2"}, "768":{"items": "4"}, "992":{"items": "5"}, "1140":{"items": "6"}}'
    >
      <div class="item ps-15 pe-15">
        <a href="http://www.dvisionlab.com" target="_blank">
          <img
            src="{{relative_url}}/assets/images/clients/dv.png"
            alt="D/Vision Lab"
            loading="lazy"
          />
        </a>
      </div>

      <div class="item ps-15 pe-15">
        <img
          src="{{relative_url}}/assets/images/clients/gmm.png"
          alt="GMM Group"
          loading="lazy"
        />
      </div>

      <div class="item ps-15 pe-15">
        <img
          src="{{relative_url}}/assets/images/clients/polimi.png"
          alt="PoliMI"
          loading="lazy"
        />
      </div>

      <div class="item ps-15 pe-15">
        <img
          src="{{relative_url}}/assets/images/clients/unibg.png"
          alt="UniBG"
          loading="lazy"
        />
      </div>

      <div class="item ps-15 pe-15">
        <img
          src="{{relative_url}}/assets/images/clients/bg_sviluppo.png"
          alt="Bergamo Sviluppo"
          loading="lazy"
        />
      </div>
      <div class="item ps-15 pe-15">
        <img
          src="{{relative_url}}/assets/images/clients/logo-01-ims-giotto-new.jpg"
          alt="IMS GIOTTO Mammography Systems, Digital Breast Tomoshyntesis"
          loading="lazy"
        />
      </div>
      <div class="item ps-15 pe-15">
        <img
          src="{{relative_url}}/assets/images/clients/logo-UNIPV.png"
          alt="Universita degli Studi di Pavia"
          loading="lazy"
        />
      </div>
      <div class="item ps-15 pe-15">
        <img
          src="{{relative_url}}/assets/images/clients/mio-dottore-logo-copertina.png"
          alt="MioDottore.it - Trova un dottore e prenota la tua visita online"
          loading="lazy"
        />
      </div>
      <div class="item ps-15 pe-15">
        <img
          src="{{relative_url}}/assets/images/clients/UniPa-Universita-degli-studi-di-Palermo.jpg"
          alt="Universita degli Studi di Palermo"
          loading="lazy"
        />
      </div>
      <div class="item ps-15 pe-15">
        <img
          src="{{relative_url}}/assets/images/clients/universita-lodi.jpg"
          alt="Universita degli Studi di Milano - Statale"
          loading="lazy"
        />
      </div>
    </div>
  </div>
</div>
<!-- End Strategic & Institutional Partners -->

{% include footer.html %}
