{% assign t = site.data.i18n[site.lang] %}
<nav
  class="navbar {% if include.extra_class %} {{include.extra_class}} {% endif %} navbar-hover-opacity navbar-expand-lg"
>
  <div
    class="{% if include.container_class %} {{include.container_class}} {% else %} container-fluid {% endif %} flex-row justify-content-center"
  >
    <div class="navbar-brand">
      <a href="{{ '/' | relative_url }}" class="logo-with-mark">
        <img
          src="{{ site.data.general_settings.black_logo_1x | relative_url }}"
          srcset="{{ site.data.general_settings.black_logo_1x | relative_url }} 1x, {{ site.data.general_settings.black_logo_2x | relative_url }} 2x"
          class="logo-dark"
          alt="{{ site.data.general_settings.title }}"
        />
        <img
          src="{{ site.data.general_settings.light_logo_1x | relative_url }}"
          srcset="{{ site.data.general_settings.light_logo_1x | relative_url }} 1x, {{ site.data.general_settings.light_logo_2x | relative_url }} 2x"
          class="logo-light"
          alt="{{ site.data.general_settings.title }}"
        />
      </a>
    </div>
    <div class="navbar-other ms-auto order-lg-3">
      <ul class="navbar-nav flex-row align-items-center" data-sm-skip="true">
        <li class="nav-item lang-switcher">
          {% if site.lang == "it" %}
            <span class="lang-current">IT</span>
            <a href="{{ site.alternate_url }}{{ page.url }}" class="lang-link" title="English">EN</a>
          {% else %}
            <span class="lang-current">EN</span>
            <a href="{{ site.alternate_url }}{{ page.url }}" class="lang-link" title="Italiano">IT</a>
          {% endif %}
        </li>
        <li class="nav-item">
          <div class="navbar-hamburger d-lg-none d-xl-none ms-auto">
            <button class="hamburger animate plain" data-bs-toggle="offcanvas-nav" data-bs-target=".offcanvas-nav">
              <span></span>
            </button>
          </div>
        </li>
        {% if page.header_style == 'three' %} {% include
        cart_header_section.html %} {% endif %}
      </ul>
      <!-- /.navbar-nav -->
    </div>
    <!-- /.navbar-other -->
    <div class="navbar-collapse offcanvas-nav">
      <div class="offcanvas-header d-lg-none d-xl-none">
        <a href="{{ '/' | relative_url }}">
          <img
            src="{{ site.data.general_settings.light_logo_1x | relative_url }}"
            srcset="{{ site.data.general_settings.light_logo_1x | relative_url }} 1x, {{ site.data.general_settings.light_logo_2x | relative_url }} 2x"
            alt="{{ site.data.general_settings.title }}"
          />
        </a>
        <button class="plain offcanvas-close offcanvas-nav-close">
          <i class="jam jam-close"></i>
        </button>
      </div>
      <ul
        class="navbar-nav {% if include.alignment_class %} {{include.alignment_class}} {% else %} mx-auto {% endif %}"
      >
        {% for menu in site.data.navigation.main_menu %} {% assign check_menu =
        menu.menu_type %} {% case check_menu %} {% when "megamenu" %}
        <li class="nav-item">
          <a class="nav-link" href="{{menu.url}}">{{ t.nav[menu.key] | default: menu.key }}</a>
          <ul class="dropdown-menu mega-menu boxed list-view text-left">
            <li class="mega-menu-content">
              <div class="row">
                {% for column in menu.submenu cols: 4 %}
                <div class="col-lg-3">
                  <ul class="list-unstyled">
                    <li>
                      <a class="dropdown-item" href="{{column.url}}"
                        >{{ t.nav[column.key] | default: column.key }}</a
                      >
                    </li>
                  </ul>
                </div>
                <!--/column -->
                {% endfor %}
              </div>
              <!--/.row -->
            </li>
            <!--/.mega-menu-content-->
          </ul>
          <!--/.dropdown-menu -->
        </li>
        {% when "dropdown" %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#">{{ t.nav[menu.key] | default: menu.key }}</a>
          <ul class="dropdown-menu">
            {% for label_two in menu.label_two %}
            <li class="dropdown">
              <a class="dropdown-item dropdown-toggle" href="#"
                >{{ t.nav[label_two.key] | default: label_two.sub_menu_text }}</
              >
              <ul class="dropdown-menu">
                {% for sub_menu in label_two.sub_menu %}
                <li class="nav-item">
                  <a class="dropdown-item" href="{{sub_menu.url}}"
                    >{{ t.nav[sub_menu.key] | default: sub_menu.text }}</a
                  >
                </li>
                {% endfor %}
              </ul>
            </li>
            {% endfor %} {% if menu.submenu %} {% for label_one in menu.submenu
            %}
            <li>
              <a class="dropdown-item" href="{{label_one.url}}"
                >{{ t.nav[label_one.key] | default: label_one.text }}</a
              >
            </li>
            {% endfor %} {% endif %}
          </ul>
        </li>
        {% else %}
        <li class="nav-item">
          {% if menu.external %}
          <a class="nav-link" href="{{menu.url}}" target="_blank"
            >{{ t.nav[menu.key] | default: menu.key }}</a
          >
          {% else %}
          <a class="nav-link" href="{{menu.url}}">{{ t.nav[menu.key] | default: menu.key }}</a>
          {% endif %}
        </li>
        {% endcase %} {% endfor %}
      </ul>
      <!-- /.navbar-nav -->
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>
<!-- /.navbar -->

<!-- /.offcanvas-info -->
